[mysqld]
server-id=2
log_bin_trust_function_creators=1
slave-skip-errors=ALL
datadir=/var/lib/mysql
port=3306
default_storage_engine=innodb
innodb_buffer_pool_size=2048M
innodb_log_file_size=50M
character-set-server=utf8
max_connections=2048
#sql_mode="IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
sql_mode=""
lower_case_table_names=1
[client]
port=3306
plugin-dir=/var/lib/plugin
